<!DOCTYPE html>
<html>
  <head>
    <title>MorningPages</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1>Morning Pages</h1>
      <h2>A place to reflect + write</h2>
    </header>
    
    <%= yield %>
  </body>
</html>
